* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header .header-inicio {
    background-color: rgb(29, 30, 114);
    height: 28px;
    margin: auto;
    padding: 12px;
    align-items: flex-start;
}

body {
    margin: 0px;
}

.main-content {
    margin: auto;
    margin-top: 0.5%;
    width: 95%;
    height: 100%;
}

.perfil {
    background-color: rgb(71, 53, 241);
    width: 30%;
    height: 675px;
    padding: 5px;
    margin: 10px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil>.sector-perfil {
    width: 200px;
    height: 200px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    margin: auto;
}

.perfil>.sector-perfil>img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil>.sector-perfil>p {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    transform: translateX(-60%);
}

.perfil>.sector-perfil>.perfil-foto {
    background-color: rgb(192, 192, 236);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.perfil>.options-sector> {
    width: 300px;
    display: flex;
}

.perfil>.options-sector>.options-descri {
    margin-top: 15px;
}

.perfil>.options-sector>.options-descri>img {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    align-items: center;
}

.perfil>.options-sector>.options-descri-help>img {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    align-items: center;
}

.perfil>.options-sector>.options-descri-help {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    top: -40%;
    transform: translateY(1000%);
    margin: auto;
}

.Buscador {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 28px;
    background-position: 3px 15px;
    width: 25%;
    height: 55px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    border-radius: 12px;
}

.carts-categoria {
    background-color: rgb(40, 55, 190);
    width: 65%;
    height: 620px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 4px;
}

.conteiner-info {
    height: 60%;
    width: 50%;
    background-color: #ccc;
    margin-left: 15px;
    margin-top: 35px;
    border-radius: 6px;
}

.conteiner-info>p {
    padding: 5px;
    margin: 5px;
    text-align: left;
    word-spacing: 2px;
}

.container-foto {
    height: 40%;
    width: 40%;
    background-color: #ccc;
    margin-right: 10px;
    margin-top: 35px;
    border-radius: 6px;
}

.container-foto>h4 {
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
}

.container-foto>p {
    margin: 2.1px;
    text-align: left;
}

.fotoid {
    width: 100%;
    height: 60%;
    background-color: rgb(74, 97, 202);
    border-radius: 6px 6px 0 0;
}

.fotoid img {
    width: 100%;
    height: 100%;
}

.container-detais {
    background-color: rgb(119, 41, 41);
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 6px;
}